Install_Template/flows.json
[
    {
        "id": "c5e3d2bbac78be49",
        "type": "tab",
        "label": "[PAP] Get List App",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7d708d595b6a64b",
        "type": "comment",
        "z": "c5e3d2bbac78be49",
        "name": "Get application from mongodb",
        "info": "",
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "7ded172498a0513d",
        "type": "mongodb4",
        "z": "c5e3d2bbac78be49",
        "clientNode": "0a9f23fd1fc93a63",
        "mode": "collection",
        "collection": "flows",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Mongodb",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "bd50333e76b2f9ef",
                "3f46e79564be2704"
            ]
        ]
    },
    {
        "id": "e9cb5975936d58f7",
        "type": "http in",
        "z": "c5e3d2bbac78be49",
        "name": "Get App By Id",
        "url": "/app/:id",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "5f6f5677a0ea67f5"
            ]
        ]
    },
    {
        "id": "9c74f645243a87ed",
        "type": "inject",
        "z": "c5e3d2bbac78be49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "5f6f5677a0ea67f5"
            ]
        ]
    },
    {
        "id": "5f6f5677a0ea67f5",
        "type": "function",
        "z": "c5e3d2bbac78be49",
        "name": "Create array store db",
        "func": "const options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow:1}\n};\nconst query = {\n    // type: 'app',\n    _id: msg.req.params.id\n};\nmsg.payload = [query, options];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "7ded172498a0513d"
            ]
        ]
    },
    {
        "id": "3f46e79564be2704",
        "type": "http response",
        "z": "c5e3d2bbac78be49",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "bd50333e76b2f9ef",
        "type": "debug",
        "z": "c5e3d2bbac78be49",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "8b02a1308cdcd146",
        "type": "comment",
        "z": "c5e3d2bbac78be49",
        "name": "Get all application from mongodb",
        "info": "",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdb905c160d12333",
        "type": "mongodb4",
        "z": "c5e3d2bbac78be49",
        "clientNode": "0a9f23fd1fc93a63",
        "mode": "collection",
        "collection": "flows",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Mongodb",
        "x": 620,
        "y": 120,
        "wires": [
            [
                "11c52f9ac543ef5b",
                "8c5c64d27436e68e"
            ]
        ]
    },
    {
        "id": "70e71c1bedc62cc6",
        "type": "http in",
        "z": "c5e3d2bbac78be49",
        "name": "Get List Apps",
        "url": "/app",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "a2069f53607e12f7"
            ]
        ]
    },
    {
        "id": "5cfdab407fa5bf0d",
        "type": "inject",
        "z": "c5e3d2bbac78be49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "a2069f53607e12f7"
            ]
        ]
    },
    {
        "id": "a2069f53607e12f7",
        "type": "function",
        "z": "c5e3d2bbac78be49",
        "name": "Create array store db",
        "func": "const options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1 }\n};\nconst query = {\n    type : 'app'\n};\nmsg.payload = [query, options];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "cdb905c160d12333"
            ]
        ]
    },
    {
        "id": "11c52f9ac543ef5b",
        "type": "http response",
        "z": "c5e3d2bbac78be49",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "8c5c64d27436e68e",
        "type": "debug",
        "z": "c5e3d2bbac78be49",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "f454e22156f0e776",
        "type": "comment",
        "z": "c5e3d2bbac78be49",
        "name": "Find App by Contain Desc",
        "info": "",
        "x": 210,
        "y": 360,
        "wires": []
    },
    {
        "id": "faf67fc9bb7e31f6",
        "type": "mongodb4",
        "z": "c5e3d2bbac78be49",
        "clientNode": "0a9f23fd1fc93a63",
        "mode": "collection",
        "collection": "flows",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Mongodb",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "96a741ac781bba72",
                "83153cae31cbd6d8"
            ]
        ]
    },
    {
        "id": "f1117854ffd1e4bd",
        "type": "http in",
        "z": "c5e3d2bbac78be49",
        "name": "Get App By Id",
        "url": "app/search/:desc",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "37e9a640b3df50fb"
            ]
        ]
    },
    {
        "id": "58455fe47eba860e",
        "type": "inject",
        "z": "c5e3d2bbac78be49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "37e9a640b3df50fb"
            ]
        ]
    },
    {
        "id": "37e9a640b3df50fb",
        "type": "function",
        "z": "c5e3d2bbac78be49",
        "name": "Create array store db",
        "func": "let query = {};\nlet options = {\n    projection: { _id: 1, description: 1, icon_flow: 1, summary: 1, type: 1, gitOwners: 1, readme: 1, flow: 1 }\n};\n\nquery = {\n    type: 'app',\n    description: { $regex: msg.req.params.desc, $options: \"i\" }\n};\n\nmsg.payload = [query, options];\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "faf67fc9bb7e31f6"
            ]
        ]
    },
    {
        "id": "83153cae31cbd6d8",
        "type": "http response",
        "z": "c5e3d2bbac78be49",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "96a741ac781bba72",
        "type": "debug",
        "z": "c5e3d2bbac78be49",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "0a9f23fd1fc93a63",
        "type": "mongodb4-client",
        "name": "Get Apps",
        "protocol": "mongodb",
        "hostname": "103.154.100.21",
        "port": "27017",
        "dbName": "flows",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "",
        "socketTimeoutMS": "",
        "minPoolSize": "",
        "maxPoolSize": "",
        "maxIdleTimeMS": "",
        "uri": "mongodb://user09:xkfxWZ2U@103.154.100.20/flows?authMechanism=SCRAM-SHA-1&authSource=admin",
        "advanced": "",
        "uriTabActive": "tab-uri-advanced"
    }
]